[Unit]
Description=ERS Service
Requires=couchdb.service avahi-daemon.service
After=couchdb.service avahi-daemon.service

[Service]
User=root
Group=root
Type=simple
StandardOutput=journal
StandardError=journal
Restart=always
StartLimitInterval=10
StartLimitBurst=5
ExecStart=/usr/bin/python -m ers.daemon --pidfile=none --logtype=syslog --type=bridge --dbname=ers-cache

[Install]
WantedBy=multi-user.target
