[Unit]
Description=ERS Aggregator Sync Service

[Service]
User=root
Group=root
Type=simple
StandardOutput=journal
StandardError=journal
Restart=always
StartLimitInterval=10
StartLimitBurst=5
ExecStart=/usr/bin/python -m ers.sync_global --pidfile=none --logtype=syslog

[Install]
WantedBy=multi-user.target